<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.pokequiz" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>PokeQuiz</name>
  <description>PokeQuiz</description>
  <author email="you@example.com" href="https://example.com">Author</author>

  <content src="index.html" />
cordova plugin add cordova-plugin-vibration
  <!-- Réseau -->
  <plugin name="cordova-plugin-whitelist" spec="^1.3.5" />
  <access origin="*" />
  <allow-navigation href="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />

  <!-- Fichiers -->
  <plugin name="cordova-plugin-file" spec="^7.0.0" />
  <preference name="AndroidInsecureFileModeEnabled" value="true" />

  <!-- Ajout du flag usesCleartextTraffic dans le manifeste -->
  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml"
                 mode="merge"
                 target="/manifest/application">
      <application android:usesCleartextTraffic="true" />
    </edit-config>
  </platform>
</widget>
